{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}

{% block content %}

{% featured_products %}

<!-- Icon Blocks -->
<div class="border-bottom">
  <div class="container content-space-2">
    <div class="row">
      <div class="col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-protected-card.svg' %}"
              alt="Image Description">
          </div>
          <div class="flex-grow-1 ms-4">
            <h4 class="mb-1">تسویه حساب ایمن</h4>
            <p class="small mb-0">تسویه حساب مطمئن تضمینی</p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->

      <div class="col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="ps-2  avatar avatar-4x3" src="{% static 'svg/illustrations/oc-return.svg' %}" alt="Image Description">
          </div>
          <div class="flex-grow-1 ms-4">
            <h4 class="mb-1">30 روز بازگشت</h4>
            <p class="small mb-0">پیشنهاد ما به شما بازپرداخت کامل ظرف 30 روز پس از خرید است.</p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->

      <div class="col-md-4">
        <!-- Icon Block -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-truck.svg' %}" alt="Image Description">
          </div>
          <div class="flex-grow-1 ms-4">
            <h4 class="mb-1">ارسال رایگان</h4>
            <p class="small mb-0">حمل و نقل استاندارد رایگان را به صورت خودکار در هر سفارش دریافت کنید.</p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- End Icon Blocks -->

{% latest_products %}
<!-- Subscribe -->
<div class="bg-light">
  <div class="container content-space-2">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
      <div class="row justify-content-lg-between">
        <!-- Heading -->
        <div class="mb-5">
          <span class="text-cap">ثبت نام</span>
          <h2>اخبار جدید را دریافت کنید</h2>
        </div>
        <!-- End Heading -->
          <!-- Input Card -->
          <div class="input-card input-card-pill input-card-sm border mb-3">
            <div class="input-card-form">
              <input type="email" class="form-control form-control-lg" id="subscribeForm" name="email"
                placeholder="ایمیل خود را وارد نمایید" aria-label="ایمیل خود را وارد کنید"
                pattern="[^\s@]+@[^\s@]+\.[^\s@]+" title="لطفاً یک آدرس ایمیل معتبر وارد کنید" required>
            </div>
            <button type="button" class="btn btn-primary btn-lg rounded-pill" onclick="subscribeNewsletter()">ثبت نام</button>
          </div>
          <!-- End Input Card -->
        <p class="small">می توانید در هر زمانی اشتراک خود را لغو کنید <a href="#">سیاست حفظ حریم خصوصی</a> ما را
          بخوانید</p>
      </div>
    </div>
  </div>
</div>
<!-- End Subscribe -->

{% endblock content %}

{% block extra_js %}
<script>
  function subscribeNewsletter() {
      emailInput = $('#subscribeForm')
      email = emailInput.val();
      if (!email) {
          Toastify({
              text: 'لطفاً ایمیل خود را پر کنید',
              className: 'error',
              close: true,
              style: {
                  background: 'red'
              }
          }).showToast();
          return;
      }
      if (!email.match(emailInput.attr('pattern'))) {
          Toastify({
              text: 'لطفاً یک آدرس ایمیل معتبر وارد کنید',
              className: 'error',
              close: true,
              style: {
                  background: 'red'
              }
          }).showToast();
          return;
      }
      $.ajax({
          url: '{% url "ticket:newsletter-subscribe" %}',
          method: 'POST',
          data: {
              email: $('#subscribeForm').val(),
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function (response) {
              Toastify({
                  text: response.message,
                  className: 'info',
                  close: true,
                  style: {
                      background: 'blue'
                  }
              }).showToast();
          },
          error: function (jqXHR, textStatus, errorThrown) {
              // Extract the error message from the response text if available
              var errorMessage = "مشکلی پیش آمده لحضاتی دیگر تلاش کنید";
              if (jqXHR.responseJSON && jqXHR.responseJSON.error) {
                  errorMessage = jqXHR.responseJSON.error;
              }
              Toastify({
                  text: errorMessage,
                  className: 'error',
                  close: true,
                  style: {
                      background: 'red'
                  }
              }).showToast();
          }
      });
  }
</script>
{% endblock %}