asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==4.2.11
django-ckeditor-5==0.2.12
django-debug-toolbar==4.3.0
django-filter==24.2
Faker==24.4.0
idna==3.7
pillow==10.2.0
psycopg==3.1.18
psycopg-binary==3.1.18
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
urllib3==2.2.1
