{% autoescape off %}
<div style="background-color: #c2c2c2; padding: 15px; direction: rtl; text-align: right;">
  <h2
    style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #377DFF; color: #ffffff;">
    بازیابی رمز عبور</h2>
  <div style="margin: 0; padding: 15px; background-color: #ffffff;">
    <p>سلام,</p>
    <p>برای شروع فرآیند بازنشانی رمز عبور حساب خود روی دکمه زیر کلیک کنید:</p>
    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}"
      style="border: 0; color: #ffffff; background-color: #377DFF; padding: 15px; font-weight: bold; text-decoration: none; border-radius: 5px;">
      تغییر رمز عبور
    </a>
    <p style="margin-top: 40px;">اگر کلیک روی دکمه بالا کار نمی‌کند، لطفاً آدرس را کپی کرده و در یک پنجره مرورگر جدید
      جای‌گذاری کنید.</p>
    <p>{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}</p>
  </div>
</div>
{% endautoescape %}