{% load humanize %}
<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbarShoppingCart">
    <div class="offcanvas-header justify-content-between border-0 pb-0 ">
        <span> {{cart|length}}</span>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="cart-content">
            {% for item in cart %}
            <!-- Product -->
            <div class="border-bottom mb-4">
                <div class="d-flex" id="product-{{item.product.id}}">
                    <div class="flex-shrink-0">
                        <div class="avatar avatar-lg ms-3">
                            <img class="avatar-img" src="{{item.product.image.url}}" alt="Image Description">
                        </div>
                    </div>

                    <div class="flex-grow-1">
                        <a class="h5"
                            href="{% url 'shop:product-detail' slug=item.product.slug %}">{{item.product.title}}</a>

                        <div class="d-grid py-3">
                            <div class="text-body py-1">
                                <div class="d-flex justify-content-start align-items-center">
                                    <span class="h6">تعداد:</span>
                                    <div class="quantity">
                                        <div class="input-group input-group-sm quantity-selector px-5">
                                            <button type="button" class="btn btn-sm btn-icon btn-outline-primary"
                                                onclick="addToCart(`{{item.product.id}}`)">
                                                <i class="bi-plus"></i>
                                            </button>
                                            <input type="number" class="form-control" value="{{item.quantity}}" min="1"
                                                max="{{item.product.stock}}">
                                            <button type="button" class="btn btn-sm btn-icon btn-outline-danger"
                                                onclick="addToCart(`{{item.product.id}}`, -1)">
                                                <i class="bi-dash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="text-body py-1">
                                <div class="d-flex justify-content-start  align-items-center">
                                    <span class="h6">قیمت:</span>
                                    <span class="px-5" id="total-price">{{item.total_price|intcomma}} تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Product -->
            {% endfor %}

        </div>

        <div class="d-grid">
            <p class="text-center" id="cart-total-price">قیمت نهایی: {{cart.get_cart_total_price|intcomma}} تومان</p>
            <a class="btn btn-primary btn-lg" href="{% url 'cart:session-cart-summary' %}">سبد خرید</a>
        </div>
    </div>
</div>