{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>{% block title %} {% endblock title %}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'css/vendor.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/font/bootstrap-icons.css' %}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'css/theme.min.css' %}?v=1.0">

  {% block extra_css %} {% endblock extra_css %}

  {% block extra_css_no_compress %} {% endblock extra_css_no_compress %}
</head>

<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand-lg navbar-end navbar-light">
    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <!-- Default Logo -->
        <a class="navbar-brand" href="/index.html" aria-label="Front">
          <img class="navbar-brand-logo" src="{% static 'svg/logos/logo.svg' %}" alt="Logo">
        </a>
        <!-- End Default Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
        </button>
        <!-- End Toggler -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/index.html">صفحه اصلی</a>
            </li>

            <!-- Dropdown -->
            <li class="hs-has-sub-menu nav-item">
              <a id="listingsDropdown" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">لیست محصولات</a>
              <div class="hs-sub-menu dropdown-menu" aria-labelledby="listingsDropdown" style="min-width: 14rem;">
                <a class="dropdown-item " href="/products-list.html">فهرست</a>
                <a class="dropdown-item " href="/products-grid.html">فهرست (شبکه)</a>
              </div>
            </li>
            <!-- End Dropdown -->

            <li class="nav-item">
              <a class="nav-link " href="/product-overview.html">بررسی اجمالی محصولات</a>
            </li>

            <!-- Pages -->
            <li class="hs-has-mega-menu nav-item" data-hs-mega-menu-item-options='{
                    "desktop": {
                      "position": "right",
                      "maxWidth": "27rem"
                    }
                  }'>
              <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " aria-current="page" href="#"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">صفحات</a>

              <!-- Mega Menu -->
              <div class="hs-mega-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 27rem;">
                <div class="navbar-dropdown-menu-inner">
                  <span class="dropdown-header">عناصر</span>

                  <div class="row">
                    <div class="col-sm mb-3 mb-sm-0">
                      <a class="dropdown-item " href="/categories.html">دسته بندی ها</a>
                      <a class="dropdown-item " href="/categories-sidebar.html">نوار کناری دسته
                        ها</a>
                      <a class="dropdown-item " href="/empty-cart.html">سبد خالی</a>
                    </div>
                    <!-- End Col -->

                    <div class="col-sm">
                      <a class="dropdown-item " href="/cart.html">سبد خرید</a>
                      <a class="dropdown-item " href="/checkout.html">بررسی</a>
                      <a class="dropdown-item " href="/order-completed.html">سفارش تکمیل شد</a>
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>

                <!-- Mega Menu Banner -->
                <div class="navbar-dropdown-menu-shop-banner">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img class="navbar-dropdown-menu-shop-banner-img" src="{% static 'img/mockups/img4.png' %}"
                        alt="Image Description">
                    </div>

                    <div class="flex-grow-1 p-4">
                      <span class="h4 d-block text-primary">برنده تی شرت</span>
                      <p>یکی از تی شرت های برند Front ما را برنده شوید.</p>
                      <a class="btn btn-sm btn-soft-primary btn-transition" href="/index.html">بیشتر بدانید <i
                          class="bi-chevron-left small"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End Mega Menu Banner -->
              </div>
              <!-- End Mega Menu -->
            </li>
            <!-- End Pages -->

            <li class="nav-item">
              <!-- Search -->
              <button class="btn btn-ghost-secondary btn-icon" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbarSearch" aria-controls="offcanvasNavbarSearch">
                <i class="bi-search"></i>
              </button>
              <!-- End Search -->

              <!-- Shopping Cart -->
              <button type="button" class="btn btn-ghost-secondary btn-icon" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbarShoppingCart" aria-controls="offcanvasNavbarShoppingCart">
                <i class="bi-basket"></i>
                <span class="cart-item-count ">3</span>
              </button>
              <!-- End Shopping Cart -->

              <a class="btn btn-primary btn-transition" href="./page-login-simple.html">ورود</a>
            </li>
          </ul>
        </div>
        <!-- End Collapse -->
      </nav>
    </div>
  </header>

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    {% block content %} {% endblock %}
  </main>
  <!-- ========== END MAIN CONTENT ========== -->


  <!-- ========== FOOTER ========== -->
  <footer class="bg-dark">
    <div class="container pb-1 pb-lg-5">
      <div class="row content-space-t-2">
        <div class="col-lg-3 mb-7 mb-lg-0">
          <!-- Logo -->
          <div class="mb-5">
            <a class="navbar-brand" href="./index.html" aria-label="Space">
              <img class="navbar-brand-logo" src="{% static 'svg/logos/logo-white.svg' %}" alt="Image Description">
            </a>
          </div>
          <!-- End Logo -->

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm link-light" href="#"><i class="bi-geo-alt-fill me-1"></i>153 ویلیامسون
                پلازا،
                مگیبرگ</a></li>
            <li><a class="link-sm link-light" href="tel:1-062-109-9222"><i class="bi-telephone-inbound-fill me-1"></i>
                +1 (062) 109-9222</a></li>
          </ul>
          <!-- End List -->

        </div>
        <!-- End Col -->

        <div class="col-sm mb-7 mb-sm-0">
          <h5 class="text-white mb-3">شرکت</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">درباره</a></li>
            <li><a class="link-sm link-light" href="#">مشاغل <span
                  class="badge bg-warning text-dark rounded-pill ms-1">استخدام می کنیم</span></a></li>
            <li><a class="link-sm link-light" href="#">بلاگ</a></li>
            <li><a class="link-sm link-light" href="#">مشتریان <i class="bi-box-arrow-up-right small ms-1"></i></a></li>
            <li><a class="link-sm link-light" href="#">ما را استخدام کنید</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-sm mb-7 mb-sm-0">
          <h5 class="text-white mb-3">امکانات</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">مطبوعات <i class="bi-box-arrow-up-right small ms-1"></i></a></li>
            <li><a class="link-sm link-light" href="#">یادداشت های انتشار</a></li>
            <li><a class="link-sm link-light" href="#">ادغام ها</a></li>
            <li><a class="link-sm link-light" href="#">قیمت گذاری</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-sm mb-7 mb-sm-0">
          <h5 class="text-white mb-3">مستندات</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">حمایت کردن</a></li>
            <li><a class="link-sm link-light" href="#">اسناد</a></li>
            <li><a class="link-sm link-light" href="#">وضعیت</a></li>
            <li><a class="link-sm link-light" href="#">مرجع API</a></li>
            <li><a class="link-sm link-light" href="#">الزامات فنی</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-sm">
          <h5 class="text-white mb-3">منابع</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1 mb-5">
            <li><a class="link-sm link-light" href="#"><i class="bi-question-circle-fill me-1"></i> کمک</a>
            </li>
            <li><a class="link-sm link-light" href="#"><i class="bi-person-circle me-1"></i> حساب شما</a>
            </li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="border-top border-white-10 my-7"></div>

      <div class="row mb-7">
        <div class="col-sm mb-3 mb-sm-0">
          <!-- Socials -->
          <ul class="list-inline list-separator list-separator-light mb-0">
            <li class="list-inline-item">
              <a class="link-sm link-light" href="#">حریم خصوصی و خط مشی</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-light" href="#">مقررات</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-light" href="#">نقشه سایت</a>
            </li>
          </ul>
          <!-- End Socials -->
        </div>

        <div class="col-sm-auto">
          <!-- Socials -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-facebook"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-google"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-twitter"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-github"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <!-- Button Group -->
              <div class="btn-group">
                <button type="button" class="btn btn-soft-light btn-xs dropdown-toggle" id="footerSelectLanguage"
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
                  <span class="d-flex align-items-center">
                    <img class="avatar avatar-xss avatar-circle ms-2"
                      src="{% static 'vendor/flag-icon-css/flags/1x1/us.svg' %}" alt="Image description" width="16" />
                    <span>انگلیسی (US)</span>
                  </span>
                </button>

                <div class="dropdown-menu" aria-labelledby="footerSelectLanguage">
                  <a class="dropdown-item d-flex align-items-center active" href="#">
                    <img class="avatar avatar-xss avatar-circle ms-2"
                      src="{% static 'vendor/flag-icon-css/flags/1x1/us.svg' %}" alt="Image description" width="16" />
                    <span>انگلیسی (US)</span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <img class="avatar avatar-xss avatar-circle ms-2"
                      src="{% static 'vendor/flag-icon-css/flags/1x1/de.svg' %}" alt="Image description" width="16" />
                    <span>آلمانی</span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <img class="avatar avatar-xss avatar-circle ms-2"
                      src="{% static 'vendor/flag-icon-css/flags/1x1/es.svg' %}" alt="Image description" width="16" />
                    <span>اسپانیا</span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <img class="avatar avatar-xss avatar-circle ms-2"
                      src="{% static 'vendor/flag-icon-css/flags/1x1/cn.svg' %}" alt="Image description" width="16" />
                    <span>چینی</span>
                  </a>
                </div>
              </div>
              <!-- End Button Group -->
            </li>
          </ul>
          <!-- End Socials -->
        </div>
      </div>

      <!-- Copyright -->
      <div class="w-md-85 text-lg-center mx-lg-auto">
        <p class="text-white-50 small">&copy; جلو. Htmlstream 2021. تمامی حقوق محفوظ است.</p>
        <p class="text-white-50 small">هنگامی که از سایت‌ها، سرویس‌ها یا ابزارهای ما بازدید می‌کنید یا با آنها
          تعامل
          می‌کنید، ما یا ارائه‌دهندگان خدمات مجاز ما ممکن است از کوکی‌ها برای ذخیره اطلاعات استفاده کنیم تا
          تجربه بهتر،
          سریع‌تر و ایمن‌تری و برای اهداف بازاریابی به شما ارائه کنیم.</p>
      </div>
      <!-- End Copyright -->
    </div>
  </footer>

  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->


  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- JS Implementing Plugins -->
  <script src="{% static 'js/vendor.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'js/theme.min.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function () {
      // INITIALIZATION OF HEADER
      // =======================================================
      new HSHeader('#header').init()


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      new HSMegaMenu('.js-mega-menu', {
        desktop: {
          position: 'left'
        }
      })


      // INITIALIZATION OF SHOW ANIMATIONS
      // =======================================================
      new HSShowAnimation('.js-animation-link')


      // INITIALIZATION OF BOOTSTRAP VALIDATION
      // =======================================================
      HSBsValidation.init('.js-validate', {
        onSubmit: data => {
          data.event.preventDefault()
          alert('Submited')
        }
      })


      // INITIALIZATION OF BOOTSTRAP DROPDOWN
      // =======================================================
      HSBsDropdown.init()


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')


      // INITIALIZATION OF TOGGLE PASSWORD
      // =======================================================
      new HSTogglePassword('.js-toggle-password')
    })()
  </script>

  {% block extra_js %} {% endblock extra_js %}

  {% block extra_js_no_compress %} {% endblock extra_js_no_compress %}
</body>

</html>