{% extends 'dashboard/admin/base.html' %}

{% block extra_css %}
<style>
    .badge-pending {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-secondary-rgb),
                var(--bs-bg-opacity)) !important;
    }

    .badge-accepted {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-success-rgb),
                var(--bs-bg-opacity)) !important;
    }

    .badge-rejected {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
    }
</style>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item">داشبورد ادمین</li>
        <li class="breadcrumb-item active" aria-current="page">
            نظرات
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<!-- Card -->
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="">لیست نظرات</h5>
        </div>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
        <div class="container pb-5">
            <form action="." class="row">
                <!-- Input Card -->
                <div class="col-md-3 py-1">
                    <input type="text" class="form-control form-control-sm" placeholder="جستجوی" aria-label="جستجوی"
                        name="q" id="search-query-filter">

                </div>
                <!-- End Input Card -->
                <div class="col-md-3 py-1">
                    <select class="form-select form-select-sm" name="status" id="status-filter">
                        <option value="" selected>انتخاب وضعیت</option>
                        {% for val, name in review_status %}
                        <option value="{{val}}">{{name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 py-1">
                    <select class="form-select form-select-sm" name="order_by" id="order-by-filter">
                        <option value="" selected>مرتب سازی</option>
                        <option value="-date">جدیدترین</option>
                        <option value="date">قدیمی ترین</option>
                        <option value="-rate">بیشترین امتیاز</option>
                        <option value="rate">کمترین امتیاز</option>
                    </select>
                </div>
                <div class="col-md-2 py-1">
                    <select class="form-select form-select-sm" name="page_size" id="page-size-filter">
                        <option value="" selected>تعداد</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="col-md-1 py-1">
                    <button type="submit" class="btn btn-primary btn-search"><i class="bi-search"></i></button>
                </div>
            </form>

        </div>

        <div class="row">
            <!-- Table -->
            <div class="table-responsive">
                <table class="table text-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">محصول</th>
                            <th scope="col">نام و نام خانوادگی</th>
                            <th scope="col">امتیاز</th>
                            <th scope="col">وضعیت</th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <th scope="row">{{object.id}}</th>
                            <td>{{object.product.title}}</td>
                            <td>{{object.user.profile.full_name}}</td>
                            <td>{{object.rate}}</td>
                            <td>
                                <span class="badge badge-{{object.get_status.title}}">
                                    {{object.get_status.label}}
                                </span>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-icon btn-ghost-secondary"
                                    href="{% url 'dashboard:admin:review-edit' pk=object.pk %}">
                                    <i class="bi-pencil-square"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- End Table -->
            <div class="row m-1 py-0 ">
                <div class="d-flex justify-content-start">
                    <div>
                        {{ paginator.count }} نظر
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="row pt-5 mt-3">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <button class="page-link" onclick="changePage(`{{page_obj.previous_page_number}}`)"
                                aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="bi-chevron-double-right small"></i>
                                </span>
                            </button>
                        </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link disable">{{num}}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li
                            class="page-item"><button class="page-link" onclick="changePage(`{{num}}`)">{{num}}</button>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <button class="page-link" onclick="changePage(`{{page_obj.next_page_number}}`)"
                                    aria-label="Next">
                                    <span aria-hidden="true">
                                        <i class="bi-chevron-double-left small"></i>
                                    </span>
                                </button>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- End Pagination -->

        </div>
        <!-- End Row -->

    </div>
    <!-- End Body -->
</div>
<!-- End Card -->
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        $("#page-size-filter").val(current_url_params.get("page_size") || "")
        $("#order-by-filter").val(current_url_params.get("order_by") || "")
        $("#search-query-filter").val(current_url_params.get("q") || "")
        $("#status-filter").val(current_url_params.get("status") || "")
    });
    $('#page-size-filter').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("page_size", selectedOption)
        current_url_params.set("page", 1)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });
    $('#order-by-filter').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("order_by", selectedOption)
        current_url_params.set("page", 1)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });
</script>
{% endblock %}