{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Content -->
<div class="container content-space-3 content-space-lg-5">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
        <div class="mb-5">
            <img class="img-fluid" src="{% static 'svg/illustrations/oc-hi-five.svg' %}" alt="Image Description"
                style="width: 15rem;">
        </div>

        <div class="mb-5">
            <h1 class="h2">سفارش شما تکمیل شد!</h1>
            <p>از سفارش شما متشکریم! سفارش شما در حال پردازش است و ظرف 3 تا 6 ساعت تکمیل خواهد شد. پس از تکمیل سفارش شما
                یک ایمیل تاییدیه دریافت خواهید کرد.</p>
        </div>

        <a class="btn btn-primary btn-transition rounded-pill px-6" href="{% url 'shop:product-grid' %}">به خرید ادامه
            دهید</a>
    </div>
</div>
<!-- End Content -->

<!-- Subscribe -->
<div class="bg-light">
    <div class="container content-space-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
            <div class="row justify-content-lg-between">
                <!-- Heading -->
                <div class="mb-5">
                    <span class="text-cap">ثبت نام</span>
                    <h2>اخبار جدید را دریافت کنید</h2>
                </div>

                <!-- End Heading -->
                <!-- Input Card -->
                <div class="input-card input-card-pill input-card-sm border mb-3">
                    <div class="input-card-form">
                        <label for="subscribeForm" class="form-label visually-hidden">ایمیل را وارد کنید</label>
                        <input type="email" class="form-control form-control-lg" id="subscribeForm" name="email"
                            placeholder="ایمیل خود را وارد نمایید" aria-label="ایمیل خود را وارد کنید"
                            pattern="[^\s@]+@[^\s@]+\.[^\s@]+" required title="لطفاً یک آدرس ایمیل معتبر وارد کنید">
                    </div>
                    <button type="button" class="btn btn-primary btn-lg rounded-pill"
                        onclick="subscribeNewsletter()">ثبت نام</button>
                </div>
                <!-- End Input Card -->

                <p class="small">می توانید در هر زمانی اشتراک خود را لغو کنید <a href="#">سیاست حفظ حریم خصوصی</a> ما را
                    بخوانید</p>
            </div>
        </div>
    </div>
</div>
<!-- End Subscribe -->

{% endblock content %}

{% block extra_js %}
<script>
    function subscribeNewsletter() {
        emailInput = $('#subscribeForm')
        email = emailInput.val();
        if (!email) {
            Toastify({
                text: 'لطفاً ایمیل خود را پر کنید',
                className: 'info',
                close: true,
                style: {
                    background: 'blue'
                }
            }).showToast();
            return;
        }
        if (!email.match(emailInput.attr('pattern'))) {
            Toastify({
                text: 'لطفاً یک آدرس ایمیل معتبر وارد کنید',
                className: 'info',
                close: true,
                style: {
                    background: 'blue'
                }
            }).showToast();
            return;
        }
        $.ajax({
            url: '{% url "ticket:newsletter-subscribe" %}',
            method: 'POST',
            data: {
                email: $('#subscribeForm').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                Toastify({
                    text: response.message,
                    className: 'info',
                    close: true,
                    style: {
                        background: 'blue'
                    }
                }).showToast();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Extract the error message from the response text if available
                var errorMessage = "مشکلی پیش آمده لحضاتی دیگر تلاش کنید";
                if (jqXHR.responseJSON && jqXHR.responseJSON.error) {
                    errorMessage = jqXHR.responseJSON.error;
                }
                Toastify({
                    text: errorMessage,
                    className: 'error',
                    close: true,
                    style: {
                        background: 'red'
                    }
                }).showToast();
            }
        });
    }
</script>
{% endblock %}